







.home-page{
    position: relative;
    top: -2rem;
}

.info{
    background-color: #f00;
    position: relative;
    top: -6.5rem;
}

.container{
   height: 100%;
   width: 85%;
   background-color: #fff;
   margin: 0 auto;
}

.commit h2{
    text-align: center;
    text-transform: capitalize;
    padding: 15px 0;
}

.commit hr{ 
    background: #f00;
    width: 100px;
    height: 3px;
    border: none;
    position: relative;
    top: -1rem;
}

.commit-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.commit-1 > div{
    flex: 0 0 20rem;
    margin: 20px 50px;   
}

.commit-img img{
    width: 400px;
    height: 250px;
}

.commit-text p{
    margin-top: 0;
    text-align: justify;
}

.commit-text a{
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: capitalize;
   position: relative;
   bottom: -2rem;
}

.apply{
   text-align: center;
   margin-top: 60px;
   font-size: 1.5rem;
}

.hr{
    background: #f00;
    width: 70px;
    height: 3px;
    border: none;
    position: relative;
    top: -.8rem;
}

.details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    text-transform: capitalize;
}

.bus-title{
    text-transform: capitalize;
    position: relative;
    top: -1.2rem;

}


.bus{
     background-color: #f00;
     border: none;
     width: 130px;
     height: 2px;
     position: relative;
     top: -.7rem;
}

.form-1 > div{
    margin: 3rem 2rem;
}
.bsi-name input{
    width: 58%;
    margin-left: 1.4px;
    border-radius: 1rem;
}
.company select{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    right: -3rem;
}
.africa select{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    right: -3rem;
}
.africa label{
    position: relative;
    right: -2rem;
}
.company label{
    position: relative;
    right: -2rem;
}
.types select{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    right: -2.5rem;
}
.types label{
    position: relative;
    right: -2rem;
}
.city input{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    right: -4.3rem;
}
.city label{
    position: relative;
    right: -3rem;
}

.address input{
    width: 58%;
    border-radius: 1rem;
    position: relative;
    right: -2.7rem;
}

.address label{
    position: relative;
    right: -1.6rem;
}
.email-1 input{
    width: 58%;
    margin-left: 1.4px;
    border-radius: 1rem;
}
.describe label{
    position: relative;
    top: -2.5rem;
}
.describe textarea{
    width: 70%;
    border-radius: 1rem;
    position: relative;
    right: -1rem;
}

.types-1 select{
    width: 70%;
    border-radius: 1rem;
    position: relative;
    right: -2.5rem;
}
.types-1 label{
    position: relative;
    right: -1rem;
}
.types-1{
    position: relative;
    top: -1.8rem;
}
.number input{
    position: relative;
    left: -3rem;
    width: 43%;
    border-radius: 1rem;
}
.number label{
    position: relative;
    left: -5rem;
}
.number{
    position: relative;
    top: -1.8rem;
}
.region select{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    right: -3.5rem;
}
.region label{
    position: relative;
    right: -3rem;
}
.region{
    position: relative;
    top: -1.8rem;
}
.area input{
    width: 58%;
    position: relative;
    right: -7rem;
    border-radius: 1rem;
}
.area label{
    position: relative;
    right: -6rem;
}
.area{
    position: relative;
    top: -2rem;
}
.tel input{
    width: 58%;
    position: relative;
    right: -2rem;
    border-radius: 1rem;
}
.tel{
    position: relative;
    top: -2rem;
}
.website input{
    width: 58%;
    position: relative;
    right: -2rem;
    border-radius: 1rem;
}
.website{
    position: relative;
    top: -2rem;
}
.hr-details {
    width: 800px;
    height: 2px;
    border: none;
    background-color: #f00;
    position: relative;
    right: -6rem;
    top: -3rem;
}

.contact{
    
    display: flex;
    justify-content: space-evenly;
}

.heading{
    text-transform:capitalize ;
    position: relative;
    top: -3rem;

}
.bus-1{
    position: relative;
    top: -1rem;
    width: 50px;
    height: 1px;
    background-color: #f00;
    border: none;
}
.name input{
    width: 60%;
    border-radius: 1rem;
    position: relative;
    left: -1rem;
}
.name label{
    position: relative;
    left: -1.3rem;
}
.name, .phone, .email, .position{
    margin: 40px 20px;
    position: relative;
    top: -3rem;
    text-transform: capitalize;
}

.phone input{
    width: 55%;
    border-radius: 1rem;
    position: relative;
    left: -2.3rem;
    
}
.phone label{
    position: relative;
    left: -3rem;
}
.position input{
    width: 75%;
    border-radius: 1rem;
    position: relative;
    right: -2.3rem;
    
}
.position label{
    position: relative;
    right: -.5rem;
}
.email input{
    width: 58%;
    border-radius: 1rem;
    position: relative;
    right: -2.3rem;
    
}
.document{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -3rem;
    text-transform: capitalize;
}
.document-h hr{
    width: 70px;
    height: 2px;
    background: red;
    border: none;

}
.document-h {
    position: relative;
    left: -2rem;
}
.btn{
    text-decoration: none;
    background: #f00;
    color: #fff;
    padding: 10px 30px;
    border-radius: 2rem;
    text-transform: capitalize;
}
.register{
    position: relative;
    bottom: -4rem;
}


